* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-Grammar: #1a8ec1;
  --c-Listening: #fecc00;
  --c-Reading: #ed1c24;
  --c-UseOfEnglish: #ec6825;
  --c-Writing: #a84d98;
  --c-Exams: #50af31;
  --c-Grammar-light: #add6e8;
  --c-Listening-light: #ffe89b;
  --c-Reading-light: #f8a1a6;
  --c-UseOfEnglish-light: #f7c1a8;
  --c-Writing-light: #dfbdda;
  --c-Exams-light: #bde1b2;
  --c-gray: #838383;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

header {
  background-image: url(./images/hero-img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

nav {
  padding: 1.4em 1em 0;
  margin-bottom: 1.6em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 2.5rem;
  line-height: 1;
  cursor: pointer;
  color: white;
}

.logo-container i {
  color: rgb(9, 184, 9);
}

.navbar {
  display: none;
}

.navbar>li {
  list-style-type: none;
  position: relative;
  margin: 0.5em 0.2em;
}

.navbar>li>a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 1rem;
}

.navbar li:nth-child(1) a:hover {
  color: var(--c-Grammar);
}

.navbar li:nth-child(2) a:hover {
  color: var(--c-Listening);
}

.navbar li:nth-child(3) a:hover {
  color: var(--c-Reading);
}

.navbar li:nth-child(4) a:hover {
  color: var(--c-UseOfEnglish);
}

.navbar li:nth-child(5) a:hover {
  color: var(--c-Writing);
}

.navbar li:nth-child(6) a:hover {
  color: var(--c-Exams);
}

.search-login-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search-container {
  font-size: 2.5rem;
  color: white;
  padding: 0 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.login-container {
  font-size: 1.6rem;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
}

.login-container a {
  text-decoration: none;
  color: white;
  padding: 4px 6px;
}

.dropdown-menu {
  display: none;
}

.active {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 2px 16px 1px #474747db;
  animation: show .5s ease;
  top: 2em;
  left: -0.5em;
}

@keyframes show {
  from {
    opacity: 0;
    top: 50px;
  }

  to {
    opacity: 1;
    top: 2em;
  }
}

.dropdown-item {
  color: var(--c-gray);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  padding: 12.5px 20px;
}

.dropdown-item:hover {
  color: inherit;
  background-color: #eaeaea;
}

.medal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.medal-icon {
  width: 35px;
}

.medal-text {
  position: absolute;
}

.medal-num-lvl {
  font-size: 1rem;
}

.dropdown-item:nth-child(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.dropdown-item:nth-child(5) {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.modal-text-lvl {
  white-space: nowrap;
}

.hero-container {
  padding: 43.2px;
  color: white;
}

.hero-heading {
  font-size: 4.4rem;
  margin-top: 72px;
}

.hero-heading2 {
  font-size: 3.5rem;
  color: var(--c-Exams);
  display: inline-block;
}

.hero-text {
  font-size: 1.7rem;
  max-width: 40vw;
  font-weight: 300;
}

main {
  min-height: 100vh;
}

.none {
  display: none;
}

.navbar-background {
  background-color: #37424e;
  transition: all 0.5s ease;
}

/* styling menu button for smaller screens */
.menu-button {
  width: 32px;
  height: 23px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  height: 4px;
  background-color: #50af31;
  width: 100%;
  border-radius: 10px;
}

@media(width >=1120px) {
  .logo-container {
    font-size: 3rem;
  }

  .navbar {
    font-size: 1.6rem;
  }

  .search-container {
    font-size: 3rem;
  }

  nav {
    padding: 1.4em 1.6em 0;
  }

  .navbar>li {
    margin: 0.5em 0.4em;
  }
}

@media(width >=900px) {
  .navbar {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .menu-button {
    display: none;
  }
}